<footer class="bg-gray-800 border-gray-700 text-center lg:text-left"
style="width: 100%; position: fixed; bottom: 0;width: 100%;">
<div class="p-4 text-center text-neutral-200">
    © 2023 Copyright:
    <a class=" text-neutral-400" href="/">Find Missing People</a>
</div>
</footer>
